<% include ../partials/header %>
<% include ../partials/navbar %>
<main>
    <div class="d-flex wraper justify-content-center mb-5">
        <div class="expense m-2">
            <div class="d-flex justify-content-center">
                <h3 class="nav bg-danger rounded mt-1 p-2 text-white">List of Expenses</h3>
            </div>
            <div class="d-flex justify-content-center">
                <table class="bg-danger rounded mt-1">
                    <% print.forEach((name) => { %>
                    <tr class="text-white row p-2">
                        <td class="col-5 py-1">
                            <%= name.main_date %>
                        </td>
                        <td class="col-4 py-1">
                            <%= name.categories_name %>
                        </td>
                        <td class="col-1 py-1">
                            <%= name.transactions_amount %>
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <table class="bg-danger rounded mt-1 table-xl">
                    <tr class="text-white">
                        <th class="col-6 py-1">Expense total: </th>
                        <% print2.forEach((name) => { %>
                        <th class="col-6 py-1">
                            <%= name.transactions_expense %>
                        </th>
                        <% }) %>
                    </tr>
                </table>
            </div>
        </div>
        <div class="income m-2">
            <div class="d-flex justify-content-center">
                <h3 class="nav bg-success rounded mt-1 p-2 text-white">List of Incomes</h3>
            </div>
            <div class="d-flex justify-content-center">
                <table class="bg-success rounded mt-1">
                    <% print5.forEach((name) => { %>
                    <tr class="text-white row p-2">
                        <td class="col-4 py-1">
                            <%= name.main_date %>
                        </td>
                        <td class="col-5 py-1">
                            <%= name.categories_name %>
                        </td>
                        <td class="col-3 py-1">
                            <%= name.transactions_amount %>
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <table class="bg-success rounded mt-1">
                    <tr class="text-white">
                        <th class="col-6 py-1">Income total: </th>
                        <% print3.forEach((name) => { %>
                        <th class="col-6 py-1">
                            <%= name.transactions_income %>
                        </th>
                        <% }) %>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <table class="bg-primary rounded mt-1 balancTable">
            <tr class="text-white">
                <th class="col-sm-6 p-2">Balanc: </th>
                <% print4.forEach((name) => { %>
                <th class="col-sm-6 p-2">
                    <%= name.diference %>
                </th>
                <% }) %>
            </tr>
        </table>
    </div>
    <!-- <article id="chart" class="d-flex pt-5 justify-content-around row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart">
            <h4 class="text-center text-danger py-2 font-weight-bold">Expenses</h4>
            <div id="myChart" class="col-12"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart">
            <h4 class="text-center text-success py-2 font-weight-bold">Income</h4>
            <div id="myChart2" class="col-12"></div>
        </div>
    </article>
    <article id="chart2" class="d-flex pt-5 row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="divChart2">
            <h4 class="text-center text-info py-2 font-weight-bold">Overall transactions</h4>
            <div id="myChart3" class="col-12"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8" id="divChart2">
            <h4 class="text-center text-info py-2 font-weight-bold">Chart of incomes and expenses</h4>
            <div id="myChart4" class="col-12"></div>
        </div>
    </article> -->
</main>
<!-- <script src="/assets/js/chart.js"></script> -->
<% include ../partials/footer %>
