<% include ../partials/header %>
<% include ../partials/navbar %>
<script src="../assets/js/transaction.js"></script>
<div class="text-center text-light">
    <h1 class="text-info">Transactions</h1>
</div>
<form class="p-3">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="transactions" class="btn btn-primary nav-link text-light">All</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="btnexp" class="btn btn-danger nav-link text-light">Expense</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="btninc" class="btn btn-success nav-link text-light">Income</a>
        </div>
    </div>
</form>
<div class="table-wrapper-scroll-y divdt p-2">
    <table id="tabledata" class="table table-striped txttbl m-1" cellspacing="0">
        <thead class="font-weight-normal">
            <tr class="text-primary">
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>ID</th>
                </tr>
        </thead>
        <tbody>
            <% obj.forEach((name) => { %>
            <tr>
                <td><%= name.categories_name %></td>
                <td><%= name.main_date%></td>
                <td><%= name.transactions_amount %></td>
                <td><%= name.main_comment %></td>
                <td><%= name.main_transid %></td>
                </tr>
            <% }) %>

        </tbody>
    </table>
</div>
<div class="modal pt-5" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5 class="text-danger">Are you sure to delete this transaction?</h5>
            </div>
            <div class="modal-text p-3">
                <form action="/del" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="hidden" name="idid" id="id" value="">
                    </div>
                </form>
                <button class="btn btn-danger" data-dismiss="modal" id="delete">Delete</button>
                <button class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
            </div>
        </div>
    </div>
</div>
<p class="badge badge-info pt-1 m-1">Note: Click on row to delete transaction.</p>
<% include ../partials/footer %>